html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

.main-section {
  position: relative;
  overflow: hidden;
  min-height: 800px;
  background: #f0f0f0;
  padding-top: 16px;
}
.main-section__nav-container {
  display: flex;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}
.main-section__content-container {
  display: flex;
  position: relative;
}
.main-section__first-elipse {
  position: absolute;
  top: 129px;
  right: 80px;
}
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

.nav-menu__list {
  display: flex;
}
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
  font-weight: 600;
}
.nav-menu__list-item:last-child {
  margin-right: 0;
}
.nav-menu__list-item a {
  text-decoration: none;
  color: #000000;
}

.logo {
  display: block;
  height: 60px;
}
.logo img {
  height: 100%;
}

.left-wrapper {
  position: relative;
}
.left-wrapper img {
  position: relative;
  z-index: 5;
  width: 882px;
}
.left-wrapper__rectangle-blue {
  width: 565px;
  height: 220px;
  background: #5290ea;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 150px;
  left: -50px;
  transform: rotate(-64deg);
  z-index: 2;
}
.left-wrapper__rectangle-orange {
  width: 565px;
  height: 220px;
  background: #f28b64;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 160px;
  left: -30px;
  transform: rotate(-51deg);
  z-index: 3;
}
.left-wrapper__rectangle-grey {
  width: 565px;
  height: 220px;
  background: #e2e2e2;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 190px;
  left: 10px;
  transform: rotate(-36deg);
  z-index: 1;
}

.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
  z-index: 6;
}
.right-wrapper__icons-box {
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  gap: 17px;
}
.icons__items {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #5290ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons__items i {
  font-size: 21px;
}

.title {
  font-size: 72px;
  position: relative;
  font-weight: 600;
}
.title__hr {
  width: 65px;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: none;
  border-top: 1px solid black;
}

.buttons {
  display: flex;
  gap: 32px;
}
.buttons__main-btn {
  min-width: 200px;
  height: 60px;
  background: #f28b64;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.buttons__icon-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}
.buttons__icon-btn img {
  height: 48px;
}
.buttons__text {
  font-size: 16px;
}

.elipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 194px;
  background: linear-gradient(144deg, rgba(237, 123, 80, 0.5) 15%, rgba(72, 138, 234, 0.5) 53%, rgba(44, 44, 44, 0.5) 86%);
  border-radius: 50%;
}
.elipse__subtract {
  height: 130px;
  width: 130px;
  background: #f0f0f0;
  border-radius: 50%;
}
.elipse__subtract_big {
  height: 188px;
  width: 188px;
}
.elipse_big {
  height: 282px;
  width: 282px;
}

.second-section {
  min-height: 700px;
  position: relative;
  overflow: hidden;
}
.second-section__container {
  padding: 32px;
}
.second-section__title {
  margin-bottom: 40px;
}
.second-section__card-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 25px;
}
.second-section__icons-box {
  display: flex;
  justify-content: space-evenly;
}
.second-section__first-elipse {
  position: absolute;
  top: 80px;
  right: -60px;
  z-index: -1;
}
.second-section__second-elipse {
  position: absolute;
  top: 364px;
  left: -60px;
  z-index: -1;
}

.cards-item {
  position: relative;
  height: 360px;
  width: 360px;
  background: #e2e2e2;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.cards-item__img {
  height: 335px;
}
.cards-item__text {
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 144px;
  right: -45px;
  font-weight: 600;
}

.cards-item_orange {
  background: #f28b64;
}

.cards-item_blue {
  background: #5290ea;
}

.icons-item {
  display: inline-flex;
  align-items: center;
}
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}
.icons-item__text {
  font-size: 18px;
}
.icons-item__text span {
  font-size: 48px;
  font-weight: 600;
}

.third-section {
  position: relative;
  min-height: 640px;
  background: #f0f0f0;
  overflow: hidden;
  z-index: 0;
}
.third-section__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  padding-top: 46px;
}
.third-section__right-wrapper {
  max-width: 480px;
}
.third-section__right-title {
  margin-bottom: 20px;
}
.third-section__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.third-section__first-elipse {
  position: absolute;
  top: 140px;
  left: 110px;
  z-index: -1;
}
.third-section__second-elipse {
  position: absolute;
  left: 20px;
  top: 280px;
  width: 160px;
  height: 160px;
  z-index: -1;
}
.third-section__third-elipse {
  position: absolute;
  top: -120px;
  right: -120px;
}

.title__hr_top {
  bottom: 75px;
}

.footer {
  position: relative;
}
.footer__img {
  position: absolute;
  left: 0px;
  bottom: 0;
  height: 300px;
}
.footer__container {
  min-height: 272px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .main-section {
    min-height: 690px;
  }
  .left-wrapper img {
    width: 750px;
  }
  .left-wrapper__rectangle-blue {
    width: 500px;
    height: 200px;
  }
  .left-wrapper__rectangle-orange {
    width: 550px;
    height: 200px;
  }
  .left-wrapper__rectangle-grey {
    width: 500px;
    height: 200px;
  }
  .right-wrapper {
    right: 20px;
  }
  .main-section__first-elipse {
    right: 10px;
  }
  .main-section__second-elipse {
    top: 560px;
  }
  .second-section {
    min-height: 600px;
  }
  .second-section__card-box {
    gap: 20px;
  }
  .cards-item {
    width: 300px;
    height: 300px;
  }
  .cards-item__img {
    height: 270px;
  }
  .cards-item__text {
    font-size: 30px;
    top: 120px;
  }
  .icons-item__img {
    margin-right: 10px;
  }
  .third-section__right-wrapper {
    max-width: 450px;
  }
}
@media (max-width: 991px) {
  .main-section {
    min-height: 530px;
  }
  .main-section__first-elipse {
    top: 70px;
  }
  .main-section__second-elipse {
    top: 400px;
  }
  .container {
    width: 720px;
  }
  .left-wrapper img {
    width: 550px;
  }
  .left-wrapper__rectangle-blue {
    width: 380px;
    height: 130px;
  }
  .left-wrapper__rectangle-orange {
    width: 410px;
    height: 130px;
  }
  .left-wrapper__rectangle-grey {
    width: 380px;
    height: 130px;
  }
  .title {
    font-size: 60px;
  }
  .right-wrapper {
    top: 75px;
    width: 300px;
  }
  .right-wrapper__title {
    font-size: 60px;
  }
  .right-wrapper__text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .buttons {
    gap: 15px;
  }
  .buttons__main-btn {
    font-size: 14px;
    width: 160px;
    height: 50px;
  }
  .buttons__text {
    font-size: 14px;
  }
  .elipse {
    width: 150px;
    height: 150px;
  }
  .elipse__substract {
    width: 110px;
    height: 110px;
  }
  .second-section {
    min-height: 450px;
  }
  .second-section__container {
    padding-top: 20px;
  }
  .second-section__title {
    margin-bottom: 25px;
  }
  .second-section__cards-box {
    margin-bottom: 10px;
  }
  .second-section__first-elipse {
    right: -35px;
  }
  .second-section__second-elipse {
    position: absolute;
    top: 262px;
    left: -35px;
  }
  .third-section {
    min-height: unset;
    padding-bottom: 80px;
  }
  .third-section__left-wrapper {
    display: none;
  }
  .third-section__right-wrapper {
    max-width: 600px;
  }
  .third-section .title__hr_top {
    bottom: 60px;
  }
  .third-section__container {
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 20px;
  }
  .third-section__right-title {
    margin-bottom: 10px;
  }
  .cards-item {
    width: 220px;
    height: 220px;
  }
  .cards-item__img {
    height: 200px;
  }
  .cards-item__text {
    font-size: 22px;
    top: 92px;
    right: -75px;
  }
  .icons-box span {
    font-size: 30px;
  }
  .icons-item__img {
    width: 50px;
  }
  .icons-item__text {
    font-size: 14px;
  }
  .elipse_big {
    height: 250px;
    width: 250px;
  }
  .elipse_big__substract_big {
    height: 170px;
    width: 170px;
  }
  .footer__img {
    width: 250px;
    height: unset;
  }
  .footer .title__hr_top {
    bottom: 60px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50vw;
    background: #5290ea;
    z-index: 20;
    transition: all 0.6s ease-in-out;
  }
  .nav-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .nav-menu__list-item {
    margin: 0;
    font-size: 18px;
  }
  .hamburger {
    width: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    height: 14px;
    z-index: 21;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    transition: all 0.6s ease-in-out;
    background: #000;
    margin-bottom: 4px;
  }
  .hamburger span:last-child {
    margin-bottom: 0;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .nav-menu_active {
    right: 0;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */